 /*---Navigasjonsline---*/
 /* Stil på listen i nav-bar  */
 .menu ul{
   display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    white-space: nowrap;
 }
 /* Stil på elementene som ligger i nav-bar (introduksjon, oversikt, etc..) */
.menu li {
    display: flex;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    float:left;
  }

/* Sørger for at knappen som sveves over kan skilles fra de andre uten at fargen forandres betydelig */
.menu li:hover {
    background-color: #111;
  }
/* Gjør at teksten passer på veldig små skjermer */
@media only screen and (max-width: 350px){
  input[type="button"]{
    font-size:10px;
  }
}

/* Stil på knapper generelt */
input[type="button"]{
  display: flex;
  border: none;
  background: none;
  color:white;
  padding:10px;
  cursor:pointer;
}
  
/*---Generell dokumentstil---*/
*{
  margin:0;
}

html, body{
  height: 100%;
  /* Farge på bakgrunnen til nettsiden */
  background-color: #f5f5f5;
}



/*---Hovedområde for presentasjon av innhold---*/

/* Gjør at alt innhold i main "flexer" */
main{
  display:flex;
  padding:20px;
  /* Tvinger footer til å være på bunnen selv om det er lite innhold på siden  */
  min-height: 100%
}

/*-- Stil på searchbar --*/
.search {
  width: 20%;
  display: flex;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}
#searchTerm {
  width: 100%;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #111;
}

/*---Stil på lenker---*/
.links, a, a:visited{
  text-decoration: none;
}

/*---Tabell-stil--*/
th, td, input{
  font: Times;
}
/**/
table, th, td{
  border: solid 2px #333;
  border-collapse: collapse;
  padding: 5px 5px;
  text-align: center;
  min-width: 20%;
  max-width: 100%;
  white-space:pre;
  table-layout:auto;
}
/* Stil på overskrifter i tabellene */
th{
  font-size:13px;
  font-weight: bold;
}
/* fjern */
tr :hover{
  background:#ff0000;
}
/* stil på data */
td{
font-size: auto;
}


/*---Stil på introduksjonsteksten---*/
#introduction{
  display:flex;
  flex-direction: row;
  font-size: auto;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

#notice{
  font-weight: bold;
}
/*  */
#overview{
  display:none;
  flex-direction: row;
  max-width:100%;
  white-space: pre-wrap;
  overflow-x: scroll;
  overflow-y:scroll;
}
#overview-mobile{
  display:none;
}
/*  */


/*  */
#details{
display:none;
flex-direction: row;
overflow-x: scroll;
overflow-y: scroll;
}

/*  */
#comparison{
display:none;
flex-wrap:wrap;
}

#comparison-table-1{
display:flex;
overflow:scroll;
}

#comparison-table-2{
display:flex;
overflow:scroll;
}

#comparison-mobile{
    display:flex;
    margin-top:20px;
display:none;
overflow-x: scroll;
overflow-y: scroll;
}

#comparison-mobile{
    display:none;
    overflow-y: scroll;
    overflow-x: scroll;
    flex-direction: row;
  }

#comparison-table-1-mobile{
  display:flex;
};

#comparison-table-2-mobile{
  display:flex;
};

@media only screen and (max-width:550px) and (max-height:850px){
  #overview-mobile{
    display:none;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: scroll;
  };
  
}

/*---Footer---*/
.footer{
  background-color: #333;
  color:#ffffff;
  bottom:0;
  width:100%;
  font-size:15px;
  height:auto;
  overflow:hidden;
  text-align: center;
}

#footer-text{
  margin:5px;
}