 /*---Navigasjonsline---*/
 /* Stil på listen i nav-bar  */
 .menu ul{
   display:block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    white-space: nowrap;
 }
 /* Stil på elementene som ligger i nav-bar (introduksjon, oversikt, etc..) */
.menu li {
    display: block;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    float:left;
  }

/* Sørger for at knappen som sveves over kan skilles fra de andre uten at fargen forandres betydelig */
.menu li:hover {
    background-color: #111;
  }
/* Gjør at teksten passer på veldig små skjermer */
@media only screen and (max-width: 350px){
  input[type="button"]{
    font-size:10px;
  }
}

/* Stil på knapper generelt */
input[type="button"]{
  display: flex;
  border: none;
  background: none;
  color:white;
  padding:10px;
  cursor:pointer;
}
  
/*---Generell dokumentstil---*/
*{
  margin:0;
}

html, body{
  height: 100%;
  /* Farge på bakgrunnen til nettsiden */
  background-color: #f5f5f5;
}

/*---Hovedområde for presentasjon av innhold---*/

/* Gjør at alt innhold i main "flexer" */
main{
  padding:20px;
  /* Tvinger footer til å være på bunnen selv om det er lite innhold på siden  */
  min-height: 100%
}

/*---Stil på lenker---*/
.links, a, a:visited{
  text-decoration: none;
}


#befolkede,#sysselsetting, #utdannede{
  overflow-x:scroll;
}

#myTable td{font-size:12px;padding: 5px}
#myTable2 td{font-size:12px;padding: 5px}
#myTable3 td{font-size:12px;padding: 2px}


/*---Tabell-stil--*/
th, td, input{
  font: Times;
  font-size: 10px;
}
/**/
table, th, td{
  border: solid 2px #333;
  border-collapse: collapse;
  padding: 5px 5px;
  text-align: center;
  min-width: 20%;
  white-space: pre-wrap;
}

@media screen and (max-width: 420px){
  tr { display: block; float: left; }
  td { display: block; }
  #antall{padding-left:20px}
  #antallet{padding-left:20px}
  /* Fjernet en boks rundt tabellen og justerte tabellen for veldig små skjermer */
  #alleKommunene,table{border:none;}
  #alleKommunene,table,td,tr{font-size:9px; padding:0;}

  };


td, tr{
display:block;
flex-direction: column;
  }
/* Stil på overskrifter i tabellene */
th{
  font-weight: bold;
}



/*---Stil på introduksjonsteksten---*/
#introduction{
  display:flex;
  flex-direction: row;
  font-size: auto;
  flex-wrap: wrap;
  padding-bottom: 20px;
  max-width:500px;
}

#notice{
  font-weight: bold;
  padding-top:10px;
}
/*  */
#overview{
  display:none;
  max-width: 100%;
  overflow-x:scroll;
  
}

#details{
display:none;
}


/*  */
#comparison{
display:none;

}

/*---Footer---*/
.footer{
  background-color: #333;
  color:#ffffff;
  bottom:0;
  width:100%;
  font-size:15px;
  height:auto;
  overflow:hidden;
  text-align: center;
}

#footer-text{
  margin:5px;
}