 /*---Navigasjonsline---*/
 /* Stil på listen i nav-bar  */
 .menu ul{
   display:block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    white-space: nowrap;
 }
 /* Stil på elementene som ligger i nav-bar (introduksjon, oversikt, etc..) */
.menu li {
    display: block;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    float:left;
  }

/* Sørger for at knappen som sveves over kan skilles fra de andre uten at fargen forandres betydelig */
.menu li:hover {
    background-color: #111;
  }

/* Stil på knapper generelt */
input[type="button"]{
  display: flex;
  border: none;
  background: none;
  color:white;
  padding:10px;
  cursor:pointer;
}
  
/*---Generell dokumentstil---*/
*{
  margin:0;
}

html, body{
  height: 100%;
  /* Farge på bakgrunnen til nettsiden */
  background-color: #f5f5f5;
}

/*---Hovedområde for presentasjon av innhold---*/
main{
  padding:20px;
  /* Tvinger footer til å være på bunnen selv om det er lite innhold på siden  */
  min-height: 100%
}

/* Scroll-bar */
::-webkit-scrollbar{
  width:0px;
}

::-webkit-scrollbar-thumb{
  background: rgba(34, 28, 28, 0.151);

}


/*---Stil på lenker---*/
.links, a, a:visited{
  text-decoration: none;
}



/*---Tabell-stil--*/

/* Stil på plassering og formatering av tekst i Detaljer */
#myTable td{font-size:16px;padding: 5px}
#myTable2 td{font-size:16px;padding: 5px}
#myTable3 td{font-size:16px;padding: 2px}

/* Tekst i tabell */

td, input{
  font: Times;
}
/* Utseendet og utforming på tabell*/
table, th, td{
  border: solid 2px #333;
  border-collapse: collapse;
  padding: 5px 5px;
  text-align: center;
  min-width: 20%;

  white-space: pre-wrap;
}
/* Justerer innholdet i tabellen til å være vertikalt når det blir brukt små skjermers */
@media screen and (max-width: 513px){
  tr { display: block; float: left; }
  td { display: block; }
  #antall{padding-left:20px}
  #antallet{padding-left:20px}
  #alleKommunene,table,td,tr{font-size:9px; padding:0;}
  /* Fjerner en ekstra boks rundt tabellen*/
  #alleKommunene,table{border:none;}
 
  };
/*---Stil på introduksjonsteksten---*/
#introduction{
  display:block;
  flex-direction: row;
  font-size: auto;
  flex-wrap: wrap;
  padding-bottom: 20px;
  font-size: small;
}
/* Begrenser bredden på teksten i introduksjonen */
.intro-txt{
  max-width:500px;
}
/* Data-notis */
#notice{
  font-weight: bold;
  padding-top:10px;
}
/* Blokk-element for Oversikt */
#overview{
  display:none;
  max-width: 100%;
  overflow-x:scroll;
  overflow-y:scroll;
  max-height: 550px;
}
/* Blokk-element for Detaljer */
#details{
display:none;
}


/* Blokk-element for Sammenligning */
#comparison {
display:none;

/* Liten justering av plasseringen til elementet */
}
#sammenlignelser{
  padding-top:10px;
  overflow-x:scroll;
}
/* "Skrolle-hjul" dersom innholdet skulle flyte utenfor boksen sin */
#befolkning, #sysselsatte, #utdannede{
  overflow-x:scroll;
}

/*---Footer---*/
.footer{
  background-color: #333;
  color:#ffffff;
  bottom:0;
  width:100%;
  font-size:15px;
  height:auto;
  overflow:hidden;
  text-align: center;
}
 
#footer-text{
  margin:5px;
}