 /*---Navigasjonsline---*/
 .menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
 }
.menu li {
    float:left;
}
.menu li {
    display: block;
    color: #ffffff;
    padding: 10px 10px;
    text-decoration: none;
    align-items: center;
  }
.menu li:hover {
    background-color: #111;
  }

/*---Generell dokumentstil---*/
html, body{
  height: 100%;
  margin: 0;
  background-color: #f5f5f5;
}

/*---Hovedomr책de for presentasjon av innhold---*/
main{
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding:20px;
}
/*---Stil p책 lenker---*/
.links, a, a:visited{
  text-decoration: none;
}

/*---flex-container for hovedinnhold---*/
.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center
}

/*---Stil p책 tabellen som holder dataen---*/
th, td, input{
  font:14px Times;
}

table, th, td{
  border: solid 1px #333;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}

th{
  font-weight:bold;
}


/*---Stil p책 introduksjonsteksten---*/
.intro-txt{
  display:flex;
  flex-direction: column;
  font-size: auto;
  flex-wrap: wrap;
}

.information{
  display:flex;
  flex-direction: column;
  width: auto;
}

.overview{
display: none;
}

.details{
display:none;
}


.comparison{
display:none;
}

/*---Footer---*/
.footer{
  background-color: #333;
  color:#ffffff;
  text-align:center;
  position: absolute;
  bottom:0;
  width:100%;
  font-size:13px;
  height:auto;
  overflow:hidden;
}
