 /*---Navigasjonsline---*/
 .menu ul{
   display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    white-space: nowrap;
 }
.menu li {
    display: flex;
    color: #ffffff;
    padding: 10px 2px;
    text-decoration: none;
    align-items: center;
    float:left;
  }

.menu li:hover {
    background-color: #111;
  }


/*---Generell dokumentstil---*/
*{
  margin:0;
}


html, body{
  height: 100%;
  background-color: #f5f5f5;
}

/* Stil på knappene i menyen */
input[type="button"]{
  display: flex;
  border: none;
  background: none;
  color:white;
}
  


/*---Hovedområde for presentasjon av innhold---*/

/* Flex-box main */
main{
  display:flex;
  flex-direction: column;
  padding:20px;
  /* Tvinger footer til å være på bunnen selv om det er lite innhold på siden  */
  min-height: 100%
}
/*---Stil på lenker---*/
.links, a, a:visited{
  text-decoration: none;
}

/*---Tabell-stil--*/
th, td, input{
  font: Times;
}
/*  */
table, th, td{
  border: solid 2px #333;
  border-collapse: collapse;
  padding: 5px 5px;
  text-align: center;
  min-width: 20%;
  max-width: 100%;
  white-space:pre;
  table-layout:auto;
}
/*  */
th{
  font-size:13px;
  font-weight: bold;
}
/*  */
tr :hover{
  background:#ff0000;
}
/*  */
td{
font-size: auto;
}


/*---Stil på introduksjonsteksten---*/
#introduction{
  display:none;
  flex-direction: row;
  font-size: auto;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

#notice{
  font-weight: bold;
}
/*  */
#overview{
  display:none;
  flex-direction: row;
  max-width:100%;
  white-space: pre-wrap;
  overflow-x: scroll;
  overflow-y:scroll;
}
#overview-mobile{
  display:none;
}
/*  */


/*  */
#details{
display:none;
flex-direction: row;
overflow-x: scroll;
overflow-y: scroll;
}
#details-mobile{
  display:none;
}

/*  */
#comparison{
display:flex;
overflow-x: scroll;
overflow-y: scroll;
}

#comparison-mobile{
    display:none;
    overflow-y: scroll;
    overflow-x: scroll;
  }

@media only screen and (max-width:550px) and (max-height:850px){
  #overview-mobile{
    display:none;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: scroll;
  };
  #details-mobile{
    display:none;
    overflow-x: scroll;
    overflow-y: scroll;
  };

  
}

/*---Footer---*/
.footer{
  background-color: #333;
  color:#ffffff;
  bottom:0;
  width:100%;
  font-size:15px;
  height:auto;
  overflow:hidden;
}

#footer-text{
  margin:5px;
}